{% extends 'base.html.twig' %}

{% block title %}Edit category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit category</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <p><button class="btn">{{ button_label|default('SAVE') }}</button></p>
        {{ form_end(form) }}
        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
    </div>
{% endblock %}