{% extends 'base.html.twig' %}

{% block title %}SHOP LIST!{% endblock %}

{% block body %}
<div class="container" id="shopindex">
    <h1>Shop list</h1>

    {% for message in app.flashes('notice') %}
        {{ message }}
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Street</th>
            <th>PhoneNumber</th>
            <th>PostCode</th>
            <th>City</th>
            <th>Region</th>
            <th colspan="2">Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for shop in shops %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.phonenumber}}</td>
                <td>{{ shop.postcode }}</td>
                <td>{{ shop.city }}</td>
                <td>{{ shop.region }}</td>
                <td><a id="edit" href="{{ path('app_shop_edit', {'id': shop.id}) }}">EDIT</a></td>
                <td>{{ include('shop/delete.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <a id="backtohomepage" href="{{ path('app_shop_new') }}">ADD NEW SHOP</a>
    <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
</div>
{% endblock %}
