{% extends 'base.html.twig' %}

{% block title %}Edit report{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit report</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {% if app.request.get('_route') == 'app_report_edit' %}
            <label for="state">State</label>
            <select id="state" name="state">
                <option value="{{ report.ReportLog.state.name }}">{{ report.ReportLog.state.name }}</option>
                {% for state in states %}
                    {% if state.name != report.ReportLog.state.name %}
                        <option value="{{ state.name }}">{{ state.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

        {% endif %}

        <p><button class="btn">{{ button_label|default('SAVE') }}</button></p>
        {{ form_end(form) }}
        {{ include('report/_delete_form.html.twig') }}
        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
    </div>
{% endblock %}