{% extends 'base.html.twig' %}

{% block title %}Edit Report{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Report</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {% set states = ["new", "in progress", "rejected", "completed", "duplicate"] %}

            <label for="state">State</label>
            <select id="state" name="state">
                <option value="{{ report.ReportLog.state }}">{{ report.ReportLog.state }}</option>
                {% for state in states %}
                    {% if state != report.ReportLog.state %}
                        <option value="{{ state }}">{{ state }}</option>
                    {% endif %}
                {% endfor %}
            </select>

        <p><button class="btn">{{ button_label|default('SAVE') }}</button></p>
        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
        {{ form_end(form) }}
    </div>
    {{ include('report/_delete_form.html.twig') }}
{% endblock %}