{% extends 'base.html.twig' %}

{% block title %}New Report{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="checkbox" name="checkbox" id="checkbox">
    <label for="checkbox">I agree to get notifications on these phone number and email address</label>

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("form").submit();
        }
    </script>

    <p>
        <button id="form"
                class="btn g-recaptcha"
                data-sitekey="6LdfZ-EhAAAAAICEyqgMyRQZmyArUB6Tu2ML5CU7"
                data-callback='onSubmit'
                data-action='submit'>{{ button_label|default('SAVE') }}</button>
    </p>
    <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
    {{ form_end(form) }}

{% endblock %}
