{% extends 'base.html.twig' %}

{% block title %}New Report{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <p id="demo">yes</p>

        <iframe
                id="frame"
                height="100%"
                width="100%"
                style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src=""
                allowfullscreen>
        </iframe>

        <script>
            let shop = document.getElementById("report_shop").value;
            let leftBracket = "{";
            let rightBracket = "}";
            let query = leftBracket + "{ shop[" + shop + "].name }" + rightBracket;
            document.getElementsByTagName("iframe").src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAWYbUtGkXse9St7foTM8jvnH2NwAxJphw&q=\"" + query + ",Słupsk+Poland";
            document.getElementById("demo").innerHTML = query;
        </script>

        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox">I agree to get notifications on these phone number and email address</label>

        <p><button class="btn">{{ button_label|default('SAVE') }}</button></p>
        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>

        <script type="text/javascript">

                document.getElementById('report_phone_number').addEventListener('input', function (y) {
                    let a = y.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,3})/);
                    y.target.value = !a[2] ? a[1] :  a[1] + '-' + a[2] + (a[3] ? '-' + a[3] : '');
            });
        </script>

        {{ form_end(form) }}

    </div>
{% endblock %}