{% extends 'base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}
    <h1>Report index</h1>

    {% if app.user is not empty %}
        <p>You are logged as {{ app.user.username }}</p>
        <a href="{{ path('app_logout') }}">Logout</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% else %}
        <a href="{{ path('app_login') }}">Log in</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Seen</th>
                <th>Description</th>
                <th>Email</th>
                <th>Phone_number</th>
                <th>Report_date</th>
                <th>User_agent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>
                    {% if report.ReportLog.seen == 1 %}
                        "seen"
                    {% else %}
                        "not seen"
                    {% endif %}
                </td>
                <td>{{ report.description }}</td>
                <td>{{ report.email }}</td>
                <td>{{ report.phoneNumber }}</td>
                <td>{{ report.reportDate ? report.reportDate|date('Y-m-d') : '' }}</td>
                <td>{{ report.userAgent }}</td>
                <td>
                    <a href="{{ path('app_report_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('app_report_edit', {'id': report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_home_page') }}">Back to homepage!</a>
    {% endif %}
{% endblock %}
