{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="container" id="showreport">
        <h1>Report</h1>

        <table class="tablereport">
            <tbody>
            <tr>
                <th>Description</th>
                <td>{{ report.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ report.email }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ report.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Report date</th>
                <td>{{ report.reportDate ? report.reportDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>User agent</th>
                <td>{{ report.userAgent }}</td>
            </tr>
            <tr>
                <th>First read by</th>
                <td>{{ report.ReportLog.firstwhoread }}</td>
            </tr>
            <tr>
                <th>First read at</th>
                <td>{{ report.ReportLog ? report.ReportLog.readdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ report.ReportLog.state.name }}</td>
            </tr>
            </tbody>
        </table>
        <a id="blueedit" href="{{ path('app_report_edit', {'id': report.id}) }}">EDIT</a>
        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>
    </div>
{% endblock %}