{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="container" id="showreport">

        <h1>Report</h1>

        <table class="tablereport">
            <tbody>
            <tr>
                <th>Description</th>
                <td>{{ report.description }}</td>
            </tr>

                <tr id="mail">
                    <th>Email</th>
                    <td>{{ report.email }}</td>
                </tr>

                <tr id="number">
                    <th>Phone number</th>
                    <td>{{ report.phoneNumber }}</td>
                </tr>

            <script>
                function contactLoad() {
                    document.getElementById("mail").hidden = false;
                    document.getElementById("number").hidden = false;
                    document.getElementById("contact").hidden = true;
                }
            </script>

            {% if is_granted("ROLE_ADMIN") %}
                <script>
                        document.getElementById("mail").hidden = false;
                        document.getElementById("number").hidden = false;
                        document.getElementById("contact").hidden = true;
                </script>

                {% elseif is_granted("ROLE_USER") and report.UserAgreement == 1%}
                <script>
                    document.getElementById("mail").hidden = true;
                    document.getElementById("number").hidden = true;
                    document.getElementById("contact").hidden = false;
                </script>

                <tr id="contact">
                    <th>Contact</th>
                    <td><button id="contactbtn" onclick="contactLoad()">CONTACT</button></td>
                </tr>

                {% else %}
                <script>
                    document.getElementById("mail").hidden = true;
                    document.getElementById("number").hidden = true;
                    document.getElementById("contact").hidden = false;
                </script>

                <tr id="contact">
                    <th>Contact</th>
                    <td><button id="nocontactbtn" onclick="noContact()">CONTACT</button>
                        {% if report.userAgreement == 0 %}
                            <h4>User doesn't agree for contacting him!</h4>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <th>Report date</th>
                <td>{{ report.reportDate ? report.reportDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>User agent</th>
                <td>{{ report.userAgent }}</td>
            </tr>
            <tr>
                <th>First read by</th>
                <td>{{ report.ReportLog.firstwhoread }}</td>
            </tr>
            <tr>
                <th>First read at</th>
                <td>{{ report.ReportLog ? report.ReportLog.readdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ report.ReportLog.state.name }}</td>
            </tr>
            </tbody>
        </table>

        <a id="blueedit" href="{{ path('app_report_edit', {'id': report.id}) }}">EDIT</a>

        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <p><button class="btn">SUBMIT COMMENT</button></p>
        {{ form_end(form) }}

        <p>COMMENTS</p>

        {% if comments is not empty %}
            {% for comment in comments %}
                <p>Username: {{ comment.user.username }} </p>
                <p>Date: {{ comment.date|date("d-m-Y") }}</p>
                <p>Text: {{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>
{% endblock %}