{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="container" id="showreport">
        <h1>Report</h1>

        <table class="tablereport">
            <tbody>
            <tr>
                <th>Description</th>
                <td>{{ report.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ report.email }}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{ report.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Report date</th>
                <td>{{ report.reportDate ? report.reportDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>User agent</th>
                <td>{{ report.userAgent }}</td>
            </tr>
            <tr>
                <th>First read by</th>
                <td>{{ report.ReportLog.firstwhoread }}</td>
            </tr>
            <tr>
                <th>First read at</th>
                <td>{{ report.ReportLog ? report.ReportLog.readdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ report.ReportLog.state.name }}</td>
            </tr>
            <tr>
                <th>User agreement for contact</th>
                <td>{% if report.userAgreement == 1 %}
                        Agreed
                    {% else %}
                        Not agreed
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <a id="blueedit" href="{{ path('app_report_edit', {'id': report.id}) }}">EDIT</a>

        <script>
            function contactLoad() {
                alert("User agreed for contact.\n" +
                    "Phone number: {{ report.phoneNumber }}\n" +
                    "Email: {{ report.email }}\n");
            }
        </script>

        {% if report.UserAgreement == 1 %}
            <a id="backtohomepage" href="{{ path('app_report_show', {'id': report.id}) }}" onclick="contactLoad()">CONTACT</a>
        {% endif %}

        <a id="backtohomepage" href="{{ path('app_home_page') }}">HOMEPAGE</a>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <p><button class="btn">SUBMIT COMMENT</button></p>
        {{ form_end(form) }}

        <p>COMMENTS</p>

        {% if comments is not empty %}
            {% for comment in comments %}
                <p>Username: {{ comment.user.username }} </p>
                <p>Date: {{ comment.date|date("d-m-Y") }}</p>
                <p>Text: {{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <p>No comments</p>
        {% endif %}
    </div>
{% endblock %}